#trajectory-bg {
  width: 100%;
  height: 100px;
  border-top: solid 1px #ececec;
  position: absolute;
  z-index: -1;
  display: none;
}

#trajectory-bg-middleline {
  width: 100%;
  height: 50px;
  border-bottom: dotted 1px #B8B8B8;
  z-index: -1;
}

#trajectory h2 {
  display: flex;
  align-items: center;
  font-size: 11px;
  font-weight: 300;
  height: 24px;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
  border-bottom: 1px solid gainsboro;
  line-height: 1;
  padding-left: 4px;
  color: grey;
  width: 900px ;
}

#trajectory h2:hover {
  background: #f5f5f5;
}

#cse100 {
  position: absolute;
  font-size: .5em;
  color: #B8B8B8;
  top: 2px;
  left: 2px;
}

#cse50 {
  position: absolute;
  font-size: .5em;
  color: #B8B8B8;
  top: 52px;
  left: 2px;
}

#cse0 {
  position: absolute;
  font-size: .5em;
  color: #B8B8B8;
  bottom: 0px;
  left: 2px;
  z-index: 100;
}

#trajectory-overlay {
  position: absolute;
  left: 0;
  z-index: -10;
  width: 100%;
}

#trajectory .rowtraject {
  display: flex;
  position: relative;
  overflow: hidden;
  max-height: 104px;
  min-height: 104px;
  transition: all 0.75s ease-out;
  justify-content: space-between;
}

.traject-legend {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 100%;
  justify-content: space-between;
  right: 0px;
}

.traject-legend span {
  font-size: 9px;
  color: #828282;
  cursor: pointer;
  min-height: 10px;
}

.hider {
  text-decoration: none;
  color: grey;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 14px;
  cursor: pointer;
}

.hider:hover {
  color: #81A8B8;
}

.show {
  text-decoration: none;
  color: grey;
  display: none;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 14px;
  cursor: pointer;
}

.show:hover {
  color: #81A8B8;
}



