.register {
  display: flex;
  width: 100%;
  justify-content: center;
}
.register-container {
  display: flex;
  flex-direction: column;
  width: 480px;
  justify-content: center;
  margin-top: 10%;
}

.register paper-button {
  align-self: flex-end;
  background: #3F51B5;
  color: white;
  margin-top: 8px;
}

.register h1 {
  font-weight: 100;
  color: #828282;
  cursor: default;
}
