div.d3slider.yearTwoa{
  width:50%;
}

div.d3slider.yearTwob{
  width:50%;
}

.d3slider {
  width:100%;
}






/* dragger outer */
circle.dragger-outer.default{
  fill: #81A8B8;
}

circle.dragger-outer.yearOne, circle.dragger-outer.yearTwo, circle.dragger-outer.yearThree{
  fill: var(--TopStudent);
}

circle.dragger-outer.yearFour{
  fill: var(--MiddleStudent);
}

circle.dragger-outer.yearFive{
  fill: var(--LowStudent);
}

/* dragger inner */
circle.dragger-inner.default {
  fill: #81A8B8;
}
circle.dragger-inner.yearOne, circle.dragger-inner.yearTwo, circle.dragger-inner.yearThree {
  fill: var(--TopStudent);
}

circle.dragger-inner.yearFour {
  fill: var(--MiddleStudent);
}

circle.dragger-inner.yearFive {
  fill: var(--LowStudent);
}
/* slider background */
rect[class^=d3slider-rect-range] {
  fill:#e0e0e0;
}
/* slider value */
rect.d3slider-rect-value.yearOne, rect.d3slider-rect-value.yearTwo, rect.d3slider-rect-value.yearThree {
  fill: var(--TopStudent);
}

rect.d3slider-rect-value.yearFour {
  fill: var(--MiddleStudent);
}

rect.d3slider-rect-value.yearFive {
  fill: var(--LowStudent);
}
/* dragger-outer hover */
circle.dragger-outer.yearOne:hover, circle.dragger-outer.yearTwo:hover, circle.dragger-outer.yearThree:hover{
  fill: var(--TopSelected);
}

circle.dragger-outer.yearFour:hover{
  fill: var(--MiddleSelected);
}

circle.dragger-outer.yearFive:hover{
  fill: var(--LowSelected);
}

/* dragger-inner hover */
circle.dragger-inner.default:hover {
  fill: #537988;
}

circle.dragger-inner.yearOne:hover, circle.dragger-inner.yearTwo:hover, circle.dragger-inner.yearThree:hover{
  fill: var(--TopSelected);
}

circle.dragger-inner.yearFour:hover{
  fill: var(--MiddleSelected);
}

circle.dragger-inner.yearFive:hover{
  fill: var(--LowSelected);
}





#cseplanning {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.slideflex {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  cursor: default;
  min-height: 60px;
}

.slideflex .slider-top {
  display: flex;
  width: 100%;
  justify-content: space-between;
  color: #424242;
  margin-bottom: 8px;
  font-size: 14px;
}

.slider-top span {
  font-weight: 300;
}

.slideflex .slider-top .value span {
  color: #777777;
}

.slideflex .draggertext {
}

.slideflex > span {
  width: 30px;
  justify-content: space-around;
  font-size: 12px;
  color: #777777;
  display: flex;
}

.slideflex > svg {
  justify-content: space-around;
}

#slidetotal {
  font-weight: 400;
}

#slidetotal span {
  color: #777777;
  font-weight: 300;
  font-size: 16px;
  margin-right: 0px;
}

.slidetotal {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: flex-end;
  align-items: baseline;
  cursor: default;
}

.slidetotal span {
  margin-right: 4px;
  color: #777;
  font-size: 12px;
}
