.d3slider {
  width:150px;
}

.d3-slider {
  width:50px;
}

circle.dragger-outer{
  fill:  rgb(253, 170, 248);
  stroke: rgb(242, 126, 234);
  stroke-width: 2px;
}

circle.dragger-inner {
  fill: rgb(253, 170, 248);
}

circle.dragger-outer:hover{
  fill: rgb(242, 126, 234);
}

circle.dragger-inner:hover{
  fill: rgb(242, 126, 234);
}

rect.d3slider-rect-range
{
  fill:#e0e0e0;
  stroke:#777;
}

rect.d3slider-rect-value
{
  fill:#777;
}

.slideflex {
  display: flex; /* or inline-flex */
  flex-direction: row;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slideflex > span {
  width: 30px;
  justify-content: space-around;
  font-size: 12px;
  color: #777777;
  display: flex;
}

.slideflex > svg {
  justify-content: space-around;
}

#slidetotal {
  width: 150px;
  justify-content: space-around;
  text-align: center;
}

.slidetotal {

}
