#student {
    width: 100%;
    z-index: 1;
    background: #fafafa;
    padding: 4px;
    border-bottom: 1px solid #ececec;
    display: flex;
    align-items: center;
    cursor: default;
}

#student input {
    width: 80px;
    margin-left: 8px;
    margin-right: 8px;
}

#student .fa {
    margin-left: 8px;
    margin-right: 8px;
}

#student span {
    font-weight: 300;
    color: #424242;
}

.student paper-button {
    align-self: flex-end;
    background: #3F51B5;
    color: white;
    margin-top: 4px;
    width:auto;
    height: 20px;
    width: 40px;
    display: none;
}
