.profile{
    margin: 10px;
    display: flex;
    flex-wrap: wrap;

    text-align:center;
    font-weight: 300;
    text-transform: lowercase;
    font-size:1em;
    width: 100%;
    color: #424242;
    min-height: 21px;
}

.box {
    /* background: blue; */
    width: 16px;
    height: 16px;
    position: relative;
    text-align: center;
    line-height: 100px;
    color: white;
    font-size: 24px;
    font-family: sans-serif;
    margin-left: 5px;
}

.topstudentbox {
    fill: #b2dfdb;
    width: 8px;
    height: 8px;

}
.legend3 {
    background-color: #b2dfdb;
    width: 25%;
    text-align: center;
}

.middlestudentbox {
    fill: #90caf9;    
    width: 8px;
    height: 8px;
}
.legend4 {
    background-color: #90caf9;  
    width: 25%;
    text-align: center;
    
}

.lowstudentbox {
    fill: #9fa8da;    
    width: 8px;
    height: 8px;

}
.legend5 {
    background-color: #9fa8da ;
    width: 25%;
    text-align: center;
    
}


.badstudentbox {
    fill: #e1bee7;    
    width: 8px;
    height: 8px;

}
.legendnot {
    background-color: #e1bee7;    
    width: 25%;
    text-align: center;
    
}

.unknown {
    fill: grey;    
    width: 8px;
    height: 8px;

}
.backgroundProfile {
    width: 95%;
    height: 95%;
    stroke-width: 2px;
}

.fields {
    height: 70%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10;

}


.legend {
    width: 95%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    font-weight: 300;

}





/* .best{
    border: 2 solid black;
} */

