#cseslider1 .noUi-handle { display:none;}
#cseslider2 .noUi-handle { display:none;}

#cseslider1 { cursor: default;}
#cseslider2 { cursor: default;}

.noUi-handle { width: 20px !important; height: 20px !important; border-radius: 50% !important; cursor: pointer !important;}
.noUi-horizontal {height: 10px !important;}
.noUi-handle:after  {display: none !important; content: "";}
.noUi-handle:before {display: none !important; content: "";}

#cseslider1  .noUi-connect {background: var(--TopStudent)}
#cseslider2  .noUi-connect {background: var(--TopStudent)}
#cseslider2a .noUi-connect {background: var(--TopStudent)}
#cseslider2b .noUi-connect {background: var(--TopStudent)}
#cseslider3  .noUi-connect {background: var(--TopStudent)}
#cseslider4  .noUi-connect {background: var(--MiddleStudent)}
#cseslider5  .noUi-connect {background: var(--LowStudent)}


/* dragger outer */
.default {
  fill: #81A8B8;
}

.yearOne, .yearTwo, .yearTwoa, .yearTwob, .yearThree {
  fill: var(--TopStudent);
}

circle.dragger-outer.yearOne, circle.dragger-outer.yearTwo {
  display: none;
}

.yearFour {
  fill: var(--MiddleStudent);
}

.yearFive {
  fill: var(--LowStudent);
}

circle.dragger-inner.yearOne, circle.dragger-inner.yearTwo {
  display: none;
}

/* slider background */
rect[class^=d3slider-rect-range] {
  fill: #e0e0e0;
}

/* hover */
.default:hover {
  fill: #537988;
}

.dragger .yearOne:hover, .dragger .yearTwo:hover, .dragger .yearTwoa:hover, .dragger .yearTwob:hover, .dragger .yearThree:hover {
  fill: var(--TopSelected);
}

.dragger .yearFour:hover {
  fill: var(--MiddleSelected);
}

.dragger .yearFive:hover {
  fill: var(--LowSelected);
}

#cseplanning {
  overflow: hidden;
  display: flex;
  /* flex-direction: column; */
  /* justify-content: flex-start; */
  /* align-items: center; */
  width: 90%;
  overflow: visible;
}

.slider-flex {
  display: flex;
  /* align-items: center; don't do this */
  flex-direction: column;
  justify-content: center;
  width: 100%;
  cursor: default;
  margin-top: 16px;
  z-index: 0;
}

.slider-flex .slider-top {
  display: flex;
  width: 100%;
  justify-content: space-between;
  color: #424242;
  margin-bottom: 4px;
  font-size: 12px;
}

.slider-top span {
  font-weight: 300;
}

.slideflex .slider-top .value span {
  color: #777777;
}

.semester span {
  font-size: 12px;
  font-weight: 300;
}

.slideflex > span {
  width: 30px;
  justify-content: space-around;
  font-size: 12px;
  color: #777777;
  display: flex;
}

.slideflex > svg {
  justify-content: space-around;
}

#slidetotal {
  font-weight: 400;
}

#slidetotal span {
  color: #777777;
  font-weight: 300;
  font-size: 16px;
  margin-right: 0px;
}

.slidetotal {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: flex-end;
  align-items: baseline;
  cursor: default;
}

.slidetotal span {
  margin-right: 4px;
  color: #777;
  font-size: 12px;
}
